@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --hover_bgcolor: rgb(73, 73, 73);
}
.light {
  --text-color: 0, 0, 0;
  --background-color: 148, 147, 147;
  --root-color: 21, 28, 33, 0.035;
  --hover_color: rgb(255, 255, 255);
  --nav-hover-color: rgb(73, 73, 73);
  background-color: rgba(var(--root-color));
}
.dark {
  --text-color: 220, 220, 220;
  --background-color: 0, 0, 0;
  --root-color: 21, 28, 33, 0.835;
  --hover_color: rgb(255, 255, 255);
  --nav-hover-color: rgb(54, 54, 54);
  background-color: rgba(var(--root-color));
}

.navbar {
  padding: 0 1rem;
  gap: 0px;
  height: 48px;
}
.navbar > div > ul > li,
.navbar > ul > li {
  border-radius: 0.5rem;
}
.regdiv {
  position: static;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.regdiv form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5%;
}
.regdiv form input {
  height: 30px;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .navbar {
    display: flex;
    height: auto;
    gap: 5px;
    padding-top: 1px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
.navbar > div > ul > li:hover {
  color: var(--hover_color);
  background-color: var(--nav-hover-color);
}
.navbar > ul > li:hover {
  color: var(--hover_color);
  background-color: var(--nav-hover-color);
}
.active {
  background-color: #696969;
  border-radius: 0.5rem;
}
.kosaras_adatok {
  display: flex;
}
@media (max-width: 1000px) {
  .max-width-half {
    width: 100%;
  }
  .max-width-half table {
    width: 100%;
  }
  .kosaras_adatok {
    display: block;
  }
}
