@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --hover_bgcolor: rgb(73, 73, 73);
  --hover_color: rgb(192, 243, 239);
  --hover_color2: rgb(14, 164, 233);
}
.navbar {
  padding: 0 1rem;
  gap: 0px;
}
.regdiv {
  position: static;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.regdiv form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5%;
}
.regdiv form input {
  height: 30px;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .navbar {
    display: flex;
    height: auto;
    gap: 5px;
    padding-top: 1px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
.navbar > div:hover {
  color: var(--hover_color2);
}
.navbar > ul:hover {
  color: var(--hover_color2);
}
.active {
  background-color: #696969;
  border-radius: 25px;
  height: 25px;
}
.kosaras_adatok {
  display: flex;
}
@media (max-width: 1000px) {
  .max-width-half {
    width: 100%;
  }
  .max-width-half table {
    width: 100%;
  }
  .kosaras_adatok {
    display: block;
  }
}
